<h1>404 error</h1>

<p>Whoops! This route does not exist. Try another!</p>

<figure>
  <img src='https://images.pexels.com/photos/262272/pexels-photo-262272.jpeg?auto=compress&cs=tinysrgb&h=600&w=800' alt='Painting: Spell'>
</figure>