<header class='site-header'>

  <div class='branding'>
    Marci's flowers
  </div>

  <nav class='site-navigation'>
    <ul class='menu'>
      <li>
        {{#link-to 'welcome'}} {{!-- or 'application' is great --}}
          <span>Home</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'about'}}
          <span>About</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'flowers'}}
          <span>Flowers</span>
        {{/link-to}}
      </li>
    </ul>
  </nav>

</header>

<div class='outlet'>
  {{outlet}}
</div>

<footer class='site-footer'>I'm the Footer for Marci's Flowers</footer>