<h1>Flowers</h1>

<div class="gallery">
  <img src='https://source.unsplash.com/800x600/?flowers' class='img-thumbnail' alt='Flowers 1: image from unsplash.com'>
  <img src='https://source.unsplash.com/800x600/?flowers' class='img-thumbnail' alt='Flowers 2: image from unsplash.com'>
  <img src='https://source.unsplash.com/800x600/?flowers' class='img-thumbnail' alt='Flowers 3: image from unsplash.com'>
  <img src='https://source.unsplash.com/800x600/?flowers' class='img-thumbnail' alt='Flowers 4: image from unsplash.com'>
  <img src='https://source.unsplash.com/800x600/?flowers' class='img-thumbnail' alt='Flowers 5: image from unsplash.com'>
  <img src='https://source.unsplash.com/800x600/?flowers' class='img-thumbnail' alt='Flowers 6: image from unsplash.com'>
</div>