<h1>flowers</h1>

<ul class='flower-list'>

  <li class='flower'>
    <figure>
      <img src='https://source.unsplash.com/800x600/?flowers' alt='Flowers 1: image from unsplash.com'>
    </figure>
  </li>

  <li class='flower'>
    <figure>
      <img src='https://source.unsplash.com/800x600/?flowers' alt='Flowers 2: image from unsplash.com'>
    </figure>
  </li>

  <li class='flower'>
    <figure>
      <img src='https://source.unsplash.com/800x600/?flowers' alt='Flowers 3: image from unsplash.com'>
    </figure>
  </li>

  <li class='flower'>
    <figure>
      <img src='https://source.unsplash.com/800x600/?flowers' alt='Flowers 4: image from unsplash.com'>
    </figure>
  </li>

  <li class='flower'>
    <figure>
      <img src='https://source.unsplash.com/800x600/?flowers' alt='Flowers 5: image from unsplash.com'>
    </figure>
  </li>

  <li class='flower'>
    <figure>
      <img src='https://source.unsplash.com/800x600/?flowers' alt='Flowers 6: image from unsplash.com'>
    </figure>
  </li>

</ul>