<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<div class='text-center'>
  <img src='https://source.unsplash.com/800x600/?flowers' class='img-fluid' alt='Flowers - image from unsplash.com'>
</div>